* {
    box-sizing: border-box;
}

.banner {
    background-color: rgba(50, 92, 6, 0.82);
    width: 100%;
    height: 65px;
    margin-right: 60%;

}

footer {
    width: 100%;
    height: 250px;
    background-color: rgba(178, 221, 144, 1);
    position: static;
}

.logo {
    float: left;
    margin-top: 8px;
}

.titulo {
    font-family: 'Thasadith';
    color: white;
    font-size: 40px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.pesquisa {
    float: left;
    margin-left: 16%;
    margin-top: 20px;
}

.buscar {
    width: 750px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgba(171, 211, 209, 1);
}

.botao {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 30;
    height: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(90, 90, 90);
    font-weight: bold;
}

.botao:hover {
    cursor: pointer;
    background-color: rgba(223, 226, 219, 0.82);
}

.menu {
    background-color: rgba(151, 191, 4, 1);
    width: 100%;
    height: 45px;
}

.opcoes {
    float: left;
    font-family: Georgia;
    margin-left: 10%;
    margin-top: 10px;
}

.formataLink {
    color: white;
    text-decoration: none;
    text-shadow: .1em 0.1em 0.1em rgb(100, 99, 99);
}

.formataLink:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.logomenu {
    width: 45px;
    height: 50px;
}

.logorodape {
    float: left;
    width: 85px;
    height: 80px;
}

.imagens {
    width: 55px;
    height: 60px;
}

.menuRodape {
    float: left;
    margin-left: 10%;
}

.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0.1em 0.1em 0.1em rgb(100, 99, 99);
}

.link {
    font-family: Georgia;
    color: rgba(64, 64, 64, 1);
}

.link:hover {
    cursor: pointer;
    color: rgb(114, 113, 113);
}

.promocaotext {
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 37%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-shadow: 0.1em 0.1em 0.1em rgb(146, 145, 145);
}

.box {
    max-width: 100%;
    height: 500px;
    background-color: rgb(216, 219, 24);
    margin-bottom: 190px;
    background: linear-gradient(180deg, rgb(216, 219, 24), rgb(255, 255, 255));
}

.mySlides {
    display: none;
}

.slideshow-container {
    width: 500px;
    position: relative;
    margin: auto;
}

.imgsSlides {
    margin-top: 5px;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border: 2px solid white;
    object-fit: cover;
}

.numberSlides {
    font-size: small;
}

.textSlide {
    width: 100%;
    text-align: center;
    bottom: 8px;
    color: rgb(65, 65, 65);
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px 8px;
    text-shadow: 0.1em 0.1em 0.1em rgb(133, 132, 132);
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0px 3px 3px 0px;
    user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 0px 0px 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.82);
}

.logos {
    float: left;
    margin-top: 25px;
    margin-left: 6%;
}

.imgcontatos {
    width: 50px;
    height: 50px;
}

.formulario {
    background-color: rgba(87, 122, 51, 1);
    margin-left: 5%;
    margin-bottom: 30px;
    width: 1100px;
    height: 650px;
    border-radius: 15px;
}

.formulario2 {
    background-color: rgba(245, 245, 204, 0.99);
    margin-left: 40%;
    margin-bottom: 30px;
    width: 600px;
    height: 500px;
    border-radius: 40px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgb(202, 199, 199)
}

.txtForm {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em rgb(143, 141, 141);
}

.caixatexto {
    width: 90%;
    margin-top: 15px;
    margin-left: 25px;

}

.btaoFormulario {
    margin-right: 150px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    border-radius: 3px;
    background-color: lightyellow
}

.btaoFormulario:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 186);
}

.msgmObrigatorio {
    font-weight: bold;
    color: rgba(255, 61, 61, 0.966);
}

.imgFormulario {
    margin-left: 10%;
    width: 250px;
    height: 300px;
    float: left;
    transform: rotate(150deg);
}

.msg-erro {
    color: red;
    font-size: medium
}